<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dasboard - Youtube Blaster Bot</title>

  <!-- Favicons -->
  <link href="{{static_url("niceadmin/img/favicon.png")}}" rel="icon">
  <link href="{{static_url("niceadmin/img/apple-touch-icon.png")}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{static_url("niceadmin/vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{static_url("niceadmin/vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
  <link href="{{static_url("niceadmin/vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{static_url("niceadmin/vendor/quill/quill.snow.css")}}" rel="stylesheet">
  <link href="{{static_url("niceadmin/vendor/quill/quill.bubble.css")}}" rel="stylesheet">
  <link href="{{static_url("niceadmin/vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{static_url("niceadmin/vendor/simple-datatables/style.css")}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{static_url("niceadmin/css/style.css")}}" rel="stylesheet">

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  
  <script type="text/javascript">
    function insert_data(){
      var nama = $("#nama").val();
      var list_keyword = $("#list_keyword").val();
      var list_gambar = $("#list_gambar").val();
      var list_musik = $("#list_musik").val();
      var list_video = $("#list_video").val();

      let data = {
        nama : nama,
        list_keyword : list_keyword,
        list_gambar : list_gambar,
        list_musik : list_musik,
        list_video : list_video
      }

      var url = "http://localhost:3000/api/project/add";

      console.log(url);
      console.log(data);
      $.ajax({
        url : url,
        data : data,
        type : 'POST',
        beforeSend : function(){$("#wait").css("display", "block")},
        success : function(data){alert("Sukses insert data");window.location.href = '/blaster/project';},
        complete : function(){$("#wait").css("display", "none")}
      });
    }
  </script>

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{static_url("niceadmin/img/logo.png")}}" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form> -->
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

{% module Template("niceadmin/sidebar_template.html") %}

   <main id="main" class="main">

    <div class="pagetitle">
      <h1>Create Cookies </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/uploader/test">Home</a></li>
          <li class="breadcrumb-item">Cookies</li>
          <li class="breadcrumb-item active">Tambah cookies</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cookies Setting</h5>

              <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Input Cookies</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile">
                  </div>
                </div>
            
            <h5 class="card-title">Create Cookies</h5>
            <div id="wait" style="display:none;position:absolute;top:50%;left:50%;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</div>

          
            <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Nama Cookies</label>
                  <div class="col-sm-12">
                    <input id="nama"  type="text" name="nama" class="form-control" value="" />
                  </div>
            </div>
            <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">JSON Cookies</label>
                  <div class="col-sm-12">
                    <textarea id="list_keyword"  class="form-control" style="height: 300px"></textarea>
                  </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-12">
              <input type="button" name="Create Cookies" value="Create Cookies" class="form-control btn btn-primary" onclick="insert_data()" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
              <input type="button" name="Input Cookies" value="Input Cookies" class="form-control btn btn-primary" onclick="insert_data()" />
              </div>
            </div>

            </div>
          </div>

        </div>

      </div>
    </section> 

    <!-- End #section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{static_url("niceadmin/vendor/apexcharts/apexcharts.min.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/chart.js/chart.min.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/echarts/echarts.min.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/quill/quill.min.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/simple-datatables/simple-datatables.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/tinymce/tinymce.min.js")}}"></script>
  <script src="{{static_url("niceadmin/vendor/php-email-form/validate.js")}}"></script>

  <!-- Template Main JS File -->
  <script src="{{static_url("niceadmin/js/main.js")}}"></script>

</body>

</html>