<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bot Zahira Digital</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{static_url("arsha/assets/img/zahira-logo.png")}}" rel="icon">
  <link href="{{static_url("arsha//img/zahira-logo.png")}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{static_url("arsha/assets/vendor/aos/aos.css")}}" rel="stylesheet">
  <link href="{{static_url("arsha/assets/vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{static_url("arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
  <link href="{{static_url("arsha/assets/vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{static_url("arsha/assets/vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
  <link href="{{static_url("arsha/assets/vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{static_url("arsha/assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{static_url("arsha/assets/css/style.css")}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="https://ZahiraDigital.Id">Zahira Bot</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Fitur</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Menu</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/uploader/dasboard">Bot Youtube Uploader</a></li>
              <li><a href="/generate/dasboard">Bot Video Generator</a></li>
              <li><a href="/blaster/project">Create Project</a></li>
              <li><a href="/blaster/cookies">Setting Cookies</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="#about">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Zahira Bot Makes Bussines Easy</h1>
          <h2>zahira bot to make it easier to upload YouTube automatically for marketing a product and generate videos for your marketing work</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#contact" class="btn-get-started scrollto">Contact</a>
            <a href="/app/tutorial" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Tutorial</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{static_url("arsha/assets/img/cmp-bg.png")}}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Fitur Bot Zahira</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
             <h3 class="section-title">Youtube Uploader</h3>
              Bot Youtube Uploader Zahira Adalah Bot untuk memudahkan aktifitas marketing digital memasarkan productnya ke youtube publik
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Auto Upload Youtube</li>
              <li><i class="ri-check-double-line"></i>Login Youtube Via Cookies</li>
              <li><i class="ri-check-double-line"></i>Request Schadule Atau Langsung Upload</li>
              <li><i class="ri-check-double-line"></i>Aman No banned Karena Upload Seperti Manual Manusia</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3 class="section-title">Bot Generate Video</h3>
            <p>
             Bot Generate Video adalah bot untuk memudahkan build video singkat yang betujuan untuk dibuat memasarkan productnya melalui video
            </p>
            <ul>
             <li><i class="ri-check-double-line"></i>Pecah Video Mentahan Sesuai yang di tentukan</li>
              <li><i class="ri-check-double-line"></i>Nambah lowerthrid ke video ( Note:  Background harus warna </li>
              <li><i class="ri-check-double-line"></i>Tambah Sound, sesuai input sound user </li>
              <li><i class="ri-check-double-line"></i>Tambah Watermark ke video sesuai input watermark bentuk png/jpg user</li>
              <li><i class="ri-check-double-line"></i>Auto Build & Render</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Bot Python By Zahira</h3>
            <p> Bot Python by Zahira Digital adalah tools sederhana untuk memudahkan pekerjaan Digital marketing anda dengan cara memasarkan product yang anda perjual belikan, tools Bot Zahira Digital dibuat dengan seprofesional mungkin, dan kerja bot di samakan dengan proses mengerjakan manusia pada umumnya jadi meminimalisir terjadinya Ban Akun. Untuk Selebihnya bisa contact Kami</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Bussiness</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team Developer</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{static_url("arsha/assets/img/team/team-6.jpg")}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Muiza Habibi</h4>
                <span>Fullstack developer</span> 
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{{static_url("arsha/assets/img/team/team-7.jpg")}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kevin</h4>
                <span>Builder Bot And Front End</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/sayakevin666/"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Untuk Permasalahan bot atau bisnis bisa contact saya melalui di bawah ini</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Zahira Digital - Jasa Pembuatan Website & Toko Online, Jalan Wonosari, Wonosari, Pagu, Kediri Regency, East Java 64183</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+62 882-3122-1777</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.8924119548565!2d112.08309391410843!3d-7.801213879599949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e78592848173793%3A0x893874b97caaf1e4!2sZahira%20Digital%20-%20Jasa%20Pembuatan%20Website%20%26%20Toko%20Online!5e0!3m2!1sid!2sid!4v1649124633157!5m2!1sid!2sid></iframe>" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Nama</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Pesan</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Zahira Bot</h3>
            <p>
              Zahira Digital - Jasa Pembuatan Website & Toko Online,<br>
              Jalan Wonosari, Wonosari,<br>
              Pagu, Kediri Regency, East Java 64183<br><br>
              <strong>Phone:</strong> +62 882-3122-1777<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#navbar">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Fitur</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Menu</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/uploader/dasboard">Bot Youtube Uploader</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/generate/dasboard">Bot Generate Video</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/blaster/project">Create Project</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/blaster/cookies">Setting Cookies</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Media Info Zahira Bot</h4>
            <p>Untuk info update selanjutnya akan di infokan di account official Zahira Bot, Ikuti kami terus dengan cara follow media sosial kami</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{static_url("arsha/assets/vendor/aos/aos.js")}}"></script>
  <script src="{{static_url("arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
  <script src="{{static_url("arsha/assets/vendor/glightbox/js/glightbox.min.js")}}"></script>
  <script src="{{static_url("arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
  <script src="{{static_url("arsha/assets/vendor/swiper/swiper-bundle.min.js")}}"></script>
  <script src="{{static_url("arsha/assets/vendor/waypoints/noframework.waypoints.js")}}"></script>
  <script src="{{static_url("arsha/assets/vendor/php-email-form/validate.js")}}"></script>

  <!-- Template Main JS File -->
  <script src="{{static_url("arsha/assets/js/main.js")}}"></script>

</body>

</html>