<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/uploader/test">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#ytbblaster-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Youtube Uploader</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="ytbblaster-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/uploader/dasboard">
              <i class="bi bi-circle"></i><span>Dasboard Youtube Uploader</span>
            </a>
          </li>
          <li>
            <a href="/uploader/dasboard">
              <i class="bi bi-circle"></i><span>Project Youtube Uploader</span>
            </a>
          </li>
          <li>
            <a href="/uploader/tambahproject">
              <i class="bi bi-circle"></i><span>Tambah Project Baru</span>
            </a>
          </li>
          <li>
            <a href="/uploader/antrian">
              <i class="bi bi-circle"></i><span>Antrian Upload</span>
            </a>
          </li>
          <li>
            <a href="/uploader/log">
              <i class="bi bi-circle"></i><span>Log Bot Youtube Uploader</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Video Generator</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/generate/dasboard">
              <i class="bi bi-circle"></i><span>Dasboard Video Generator</span>
            </a>
          </li>
          <li>
            <a href="/generate/AddVideo">
              <i class="bi bi-circle"></i><span>Tambah Source Video</span>
            </a>
          </li>
          <li>
            <a href="/generate/AddMusic">
              <i class="bi bi-circle"></i><span>Tambah Source Musik</span>
            </a>
          </li>
          <li>
            <a href="/generate/BuatBaru">
              <i class="bi bi-circle"></i><span>Buat Video Baru</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Project</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/blaster/project">
              <i class="bi bi-circle"></i><span>List Project</span>
            </a>
          </li>
            <a href="/blaster/project/new">
              <i class="bi bi-circle"></i><span>Buat Project Baru</span>
            </a>
          </li>
        </ul> 
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cookies" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Cookies</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cookies" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/blaster/cookies">
              <i class="bi bi-circle"></i><span>List Cookies</span>
            </a>
          </li>
          <li>
            <a href="/blaster/cookies/new">
              <i class="bi bi-circle"></i><span>Tambah Cookies</span>
            </a>
          </li>
          <li>
            <a href="/blaster/cookies/update">
              <i class="bi bi-circle"></i><span>Update Cookies</span>
            </a>
          </li>
          <li>
            <a href="/blaster/project/Update/id">
              <i class="bi bi-circle"></i><span>Lebel Cookies</span>
            </a>
          </li> 
           <li>
            <a href="/blaster/project/Update/id">
              <i class="bi bi-circle"></i><span>Buat Label Cookies</span>
            </a>
          </li> 
           <li>
            <a href="/blaster/project/Update/id">
              <i class="bi bi-circle"></i><span>Update Label Cookies</span>
            </a>
          </li> 
        </ul> 
      </li>


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/app/setting">
          <i class="bi bi-person"></i>
          <span>Setting Aplikasi</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/app/tutorial">
          <i class="bi bi-question-circle"></i>
          <span>Tutorial</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/uploader/test">
          <i class="bi bi-envelope"></i>
          <span>Kontak Dev</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->