<tr><td scope="row">{{ tbl[0] }}</td><td>{{ tbl[1] }}</td><td>{{ tbl[2] }}</td><td>
{% if tbl[3] == 0 %}
Belum upload
{% elif tbl[3] == 1 %}
Dalam antrian
{% elif tbl[3] == 2 %}
Sudah berhasil terupload
{% elif tbl[3] == 3 %}
Error
{% end %}
</td></tr>