{% if tbl[7] == 0 %}
<tr class="">
{% elif tbl[7] == 1 %}
<tr class="table-primary">
{% elif tbl[7] == 2 %}
<tr class="table-success">
{% elif tbl[7] == 3 %}
<tr class="table-danger">
{% end %}



<td scope="row">{{ tbl[0] }}</td><td>{{ tbl[1] }}</td><td>{{ tbl[2] }}</td><td>{{ tbl[3] }}</td><td>{{ tbl[4] }}</td><td>{{ tbl[5] }}</td><td>{{ tbl[6] }}</td><td>
{% if tbl[7] == 0 %}
Belum upload
{% elif tbl[7] == 1 %}
Dalam antrian
{% elif tbl[7] == 2 %}
Sudah berhasil terupload
{% elif tbl[7] == 3 %}
Error
{% end %}
</td></tr>