<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index Demo</title>
  </head>
  <body>
    <div id="body">
     </div>
     <button id="btn" type="button">click me</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{static_url("script.js")}}" type="text/javascript"></script>
    <script>
    $("#btn").click(function () {
      $("#btn").prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: "/bot",
            success: function (data) {
                // alert("success")
                console.log("selesai");
                $("#btn").prop('disabled', false);
            }
        });

    });
</script>
  </body>
</html>