<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Preview Datasource</title>
    <link rel="stylesheet" href="{{static_url("assets/bootstrap/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/bootstrap/css/bootstrap-grid.min.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/bootstrap/css/bootstrap-reboot.min.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/theme/css/style.css")}}">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="{{static_url("assets/mobirise/css/mbr-additional.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/mobirise/css/mbr-additional.css")}}" type="text/css">
  </head>
  <body>
    <section data-bs-version="5.1" class="form2 cid-t0dNMFntJM" id="form2-m">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
            <form action="javascript:void(0);" class="mbr-form form-with-styler">
              <div class="row">
                <div class="alert alert-success col-12" style="display: none;">Upload data source berhasil. Klik <b>Jalankan Bot</b> untuk melanjutkan proses upload. </div>
                <div class="alert alert-danger col-12" style="display: none;"> Oops...! some problem! </div>
              </div>
              <div class="dragArea row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h1 class="mbr-section-title mb-4 align-center mbr-fonts-style display-2">
                    <strong>Tes Bot Running</strong>
                  </h1>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p class="mbr-text mbr-fonts-style mb-5 align-center display-7">Halaman ini hanya untuk tes. Melihat proses ketika bot sedang jalan</strong>
                  </p>
                </div>
                <!-- <div class="col-lg col-md col-12 form-group mb-3 datacsv" data-for="datasourceupload">
                  <input type="file" id="fileUpload" placeholder="File data source" class="form-control" />
                </div>
                <div class="mbr-section-btn col-md-auto col datacsv">
                  <button type="submit" class="btn btn-warning display-4" id="upload">Upload Datasource</button>
                </div> -->

              </div>
            </form>
          </div>
          <!-- <div class="col-lg-8 mx-auto table-responsive">
            <div id="laporan"></div>
          </div> -->
          <div class="col-lg-8 mx-auto mbr-form ">
            <form action="javascript:void(0);" class="form-with-styler">
              <div class="row" id="startbot">
                <!-- <div class="col-lg col-md col-12 form-group mb-3" data-for="datasourceupload"> -->
                    <div class="col-lg col-md-auto col">
                  <input type="text" id="fileUpload" placeholder="Start datasource" class="form-control" />
                </div>
                <div class="mbr-section-btn col-md-auto col">
                  <button type="submit" class="btn btn-warning display-5" id="run">Run Bot</button>
                </div>
                <div class="mbr-section-btn col-md-auto col">
                  <button type="submit" class="btn btn-danger display-5" id="reset">Reset</button>
                </div>
              </div>
            </form>
          </div>
          <div style="padding-top:20px"></div>
          <div id="log" class="col-lg-12 mx-auto table-responsive" style="height:500px;overflow:auto;">
            <!-- <div id="log"></div> -->
          </div>
          <!-- <div class="col-lg-12 mx-auto table-responsive" style="height:500px;overflow:auto;">
            <div id="preview"></div>
          </div> -->
        </div>
      </div>
    </section>


    <!-- Ini untuk function2 -->
    <script src="{{static_url("assets/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
    <script src="{{static_url("assets/smoothscroll/smooth-scroll.js")}}"></script>
    <script src="{{static_url("assets/ytplayer/index.js")}}"></script>
    <script src="{{static_url("assets/theme/js/script.js")}}"></script>
    <!-- <script src="assets/formoid/formoid.min.js"></script>   -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script type="text/javascript">

      $(function() {
        function get_log(){
        var container = $("#log");
        $.getJSON('/api/tabel?tabel=log_ytb_uploader', { get_param: 'value' }, function(data) {
          var i = 0;
        $.each(data, function(index, element) {
          i = i+1;
          var tx = element.waktu + " | " + element.log;
            $('#log').append($('<p>', {
                text: tx
                }));

            container.scrollTop(container.prop("scrollHeight"));
            });
        });
        // $.ajax({url: "/api/tabel?tabel=log_ytb_uploader", success: function(result){
        //   var hasil = $.parseJSON(result);
        //   var x = $("#log").html();
        //   var hasil = result.waktu + " | " + result.log;
        //   $("#log").html(x+"<br />"+hasil);
        //   container.scrollTop(container.prop("scrollHeight"));
        // }}
        //   );


      }

          $("#run").bind("click", function(){
                      setInterval(function () {
                      get_log();
                      }, 500);
                      
                    });
        });
    </script>
  </body>
</html>