<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Preview Datasource</title>
    <link rel="stylesheet" href="{{static_url("assets/bootstrap/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/bootstrap/css/bootstrap-grid.min.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/bootstrap/css/bootstrap-reboot.min.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/theme/css/style.css")}}">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="{{static_url("assets/mobirise/css/mbr-additional.css")}}">
    <link rel="stylesheet" href="{{static_url("assets/mobirise/css/mbr-additional.css")}}" type="text/css">
  </head>
  <body>
    <section data-bs-version="5.1" class="form2 cid-t0dNMFntJM" id="form2-m">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
            <form action="javascript:void(0);" class="mbr-form form-with-styler">
              <div class="row">
                <div class="alert alert-success col-12" style="display: none;">Upload data source berhasil. Klik <b>Jalankan Bot</b> untuk melanjutkan proses upload. </div>
                <div class="alert alert-danger col-12" style="display: none;"> Oops...! some problem! </div>
              </div>
              <div class="dragArea row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h1 class="mbr-section-title mb-4 align-center mbr-fonts-style display-2">
                    <strong>File Data Source</strong>
                  </h1>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p class="mbr-text mbr-fonts-style mb-5 align-center display-7">Masukan file datasource upload kamu <em>(format file : .csv)</em>. Lalu klik <strong>upload datasource.</strong>
                  </p>
                </div>
                <div class="col-lg col-md col-12 form-group mb-3 datacsv" data-for="datasourceupload">
                  <input type="file" id="fileUpload" placeholder="File data source" class="form-control" />
                </div>
                <div class="mbr-section-btn col-md-auto col datacsv">
                  <button type="submit" class="btn btn-warning display-4" id="upload">Upload Datasource</button>
                </div>

              </div>
            </form>
          </div>
          <div class="col-lg-8 mx-auto table-responsive">
            <div id="laporan"></div>
          </div>
          <div class="col-lg-8 mx-auto mbr-form ">
            <form action="javascript:void(0);" class="form-with-styler">
              <div class="row" id="startbot" style="display:none;">
                <!-- <div class="col-lg col-md col-12 form-group mb-3" data-for="datasourceupload"> -->
                    <div class="col-lg col-md-auto col">
                  <input type="text" id="fileUpload" placeholder="Start datasource" class="form-control" />
                </div>
                <div class="mbr-section-btn col-md-auto col">
                  <button type="submit" class="btn btn-warning display-5" id="run">Run Bot</button>
                </div>
                <div class="mbr-section-btn col-md-auto col">
                  <button type="submit" class="btn btn-danger display-5" id="reset">Reset</button>
                </div>
              </div>
            </form>
          </div>
          <div style="padding-top:20px"></div>
          <div id="log" class="col-lg-12 mx-auto table-responsive" style="height:500px;overflow:auto;">
            <!-- <div id="log"></div> -->
          </div>
          <div class="col-lg-12 mx-auto table-responsive" style="height:500px;overflow:auto;">
            <div id="preview"></div>
          </div>
        </div>
      </div>
    </section>


    <!-- Ini untuk function2 -->
    <script src="{{static_url("assets/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
    <script src="{{static_url("assets/smoothscroll/smooth-scroll.js")}}"></script>
    <script src="{{static_url("assets/ytplayer/index.js")}}"></script>
    <script src="{{static_url("assets/theme/js/script.js")}}"></script>
    <!-- <script src="assets/formoid/formoid.min.js"></script>   -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script type="text/javascript">

      $(function() {
        // function scroll(){
        //   var container = $(div);
        // container.html(container.html()+"<br />"+text);
        //                 container.scrollTop(container.prop("scrollHeight"));
        // }
        function get_log(){
        var container = $("#log");
        $.ajax({url: "/api/tanggal", success: function(result){
          var x = $("#log").html();
          $("#log").html(x+"<br />"+result);
          container.scrollTop(container.prop("scrollHeight"));
        }}
          );
        // $("#log").scrollTop($("#log").prop('scrollHeight'));
      }

            $("#upload").bind("click", function() {
                var path = "E:\\tools\\ytb_upload_kevin\\upload.txt";
                  var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
                  if (regex.test($("#fileUpload").val().toLowerCase())) {
                    if (typeof(FileReader) != "undefined") {
                      var reader = new FileReader();
                      reader.onload = function(e) {
                        var table = $(" <table class = 'table table-striped table-dark' /> ");
                          var rows = e.target.result.split("\n");
                          for (var i = 0; i < rows.length; i++) {
                            var row = $(" <tr /> ");
                              var cells = rows[i].split(";");
                              if (cells.length > 1) {
                                for (var j = 0; j < cells.length; j++) {
                                  var cell = $(" <td /> ");
                                    cell.html(cells[j]); row.append(cell);
                                  }
                                  table.append(row);
                                }
                              }
                              var resume = "<b>Nama File\t:</b>"+$("#fileUpload").val()+" <br /> Jumlah baris data\t: " + (rows.length - 2)+"<br />";
                              $("#cekdata").html('');
                              $("#cekdata").html(resume);
                              $('.alert-success').show();
                              $("#preview").html('<h2> Preview Datasource </h2>');
                            $("#preview").append(table);
                            $(".datacsv").hide();
                            $("#startbot").show();
                              }
                              reader.readAsText($("#fileUpload")[0].files[0]);
                            }
                            else {
                              alert("This browser does not support HTML5.");
                            }
                          } else {
                            alert("Masukan file dalam format CSV");
                          }
                        });

                    $("#reset").bind("click", function(){
                        $(".datacsv").show();
                        $("#startbot").hide();
                        $("#cekdata").html('');
                        $("#preview").html('');

                    });

                    $("#run").bind("click", function(){
                      setInterval(function () {
                      get_log();
                      }, 100);
                      
                    });
                    }
                    );
    </script>
  </body>
</html>